*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul, li {
    list-style: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.flex {
    display: flex;
}

.flex_wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

/* HEADER */

header {
    background-color: #0084FD;
    color: white;
}

.container_large {
    width: 1080px;
    padding: 0 30px;
    margin: auto;
}

.logo-header img {
    align-self: center;
}

header i.fa-solid, i.fa-bars  {
    display: none;
    align-self: center;
}

header .container_large {
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.menu {
    gap: 20px;
    align-items: center;
}

.bottone {
    border-radius: 25px;
}

.bottone_header {
    background-color: white;
    color: black;
    padding: 5px 10px;
}

@media (max-width: 1100px) {

    header .container_large {
        width: 100%;
    }

    ul.menu {
        display: none;
    }

    header i.fa-solid, i.fa-bars  {
        display: block;
        align-self: center;
    }
}

/* SECTION 1 */

.row {
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.card {
    background-color: #B5DDFF;
    width: calc(calc(100% - 40px) / 3);
    border-radius: 25px;
    padding: 0 20px;
    align-items: center;
}

.card_big{
    width: calc(100% / 2);
    flex-grow: 2;
    border-radius: 25px;
    background-color: #B5DDFF;
    padding: 0 20px;
}

.card i {
    color: #0084FD;
    padding-top: 30px;
    font-size: 70px;
}

.card p {
    text-align: center;
}

.card_big .col {    
    flex-basis: 0;
    flex-grow: 1;
}

.card_big img {    
    max-width: 90%;
}

.card h3, .card_big h3 {
    color: #0084FD;
    font-size: 21px;
    padding: 20px 0;
}

.card p, .card_big p {
    padding-bottom: 30px;
}

.bottone_apple {
    background-color: #0084FD;
    color: white;
    padding: 10px 15px;
    width: 180px;
    text-align: center;
    margin-bottom: 39px
}

@media (max-width: 1100px) {

    .container_large {
        width: 100%;
    }

    .card_big {
        flex-direction: column;
    }

    .card_big img {
      max-width: 50%;
    }
}

@media (max-width: 780px) {

    .container_large {
        width: 100%;
    }

    .card_big {
        flex-direction: column;
    }

    .card_big img {
        width: 100%;
      }
}

@media (max-width: 600px) {

    .row {
        display: flex;
        flex-direction: column;
    }
    .card_big, .card {
        width: 100%;
    }

    .card_big .col {
        align-items: center;
    }

    .card p, .card_big p {
        font-size: 13px;
        text-align: center;
    }

}

/* SECTION 2 */

.section_2 {
    background-color: #9792E4;
}

.container_small {
    width: 840px;
    padding: 0 30px;
    margin: auto;
}

.section_2 .col {
    flex-basis: 0;
    flex-grow: 1;
} 

.section_2 img {
    padding: 90px 0;
    display: block;
    margin: auto;
}

.section_2 h3 {
    color: white;
    padding-bottom: 40px;
}

.section_2 p {
    color: white;
    padding-bottom: 20px;
}

.card_section_2 {
    border-radius: 30px;
    max-width: 80%;
    background-color: white;
    margin-top: 210px;
    margin-left: 30px;
    justify-content: space-around;
    align-items: center;
}

.card_section_2 p {
    font-style: italic;
}

.card_section_2 h3 {
   color: black;
   text-align: center;
}

.card_section_2 p {
    color: black;
    text-align: center;
 }

 .card_section_2 img {
    padding: 0;
    max-width: 80%;
}

.cerchio {
    background-color: #9792E4;
    border-radius: 50px;
    padding: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 25px;
}

@media (max-width: 780px) {

    .container_small {
        width: 100%;
    }

    .section_2 .row {
        flex-direction: column;     
    }

    .section_2 h3 {
        font-size: 40px;     
    }

    .card_section_2 {
        max-width: 100%;
        margin-bottom: 34px;
        margin-top: 0;
        margin-left: 0;
    }

}

@media (max-width: 480px) {

    .section_2 h3 {
        font-size: 24px;     
    }
}

/* SECTION 3 */

.card_section_3 {
    background-color: #9792E4;
    align-items: center;
    border-radius: 25px;
    color: white;
    gap: 50px;
}

.section_3 .row {
    align-items: center;
}

.section_3 h6 {
    font-size: 16px;
    font-weight: 400;
}

.section_3 h5 {
    text-align: center;
    font-weight: 400;
}

.section_3 h2 {
    font-size: 30px;
    color: #9792E4;
}

.section_3 .col-1 {
    width: 30%;
}

.col-1 img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: 10px 20px;
}

.card_section_3 p {
    padding: 15px 0px;
}

.card_section_3 span {
    display: inline-block;
    margin-bottom: 15px;
}


/* SECTION 4 */

.section_4 {
    background-color: #9792E4;
}

.section_4 h2 {
    color: white;
    font-size: 30px;
    text-align: center;
}

.section_4 .row {
    gap: 20px;
    padding-bottom: 50px;
}

.section_4 h2 {
    padding-top: 30px;
}

.card_section_4 {
    background-color: white;
    color: #9792E4;
    width: calc(calc(100% - 40px) / 3);
    gap: 30px;
    padding: 20px 25px;
    border-radius: 25px;
}

.card_section_4 span {
    font-size: 60px;
    font-weight: 700;
}

.card_section_4 h4 {    
    font-size: 22px;
}

.card_section_4 p {    
    font-size: 15px;
    color: grey;
}

.bottone_viola {
    background-color: #9792E4;
    color: white;
    padding: 8px;
    width: 123px;
    text-align: center;
    font-weight: 700;
}

@media (max-width: 1100px) {
    .card_section_4 {
        width: calc(calc(100% - 20px) / 2);
    }  
}

@media (max-width: 600px) {
    .card_section_4 {
        width: 100%;
    }  
}

/* SECTION 5 */

.section_5 .col-1 {
    width: 75%;
}

.col-1 h2 {
    font-size: 50px;
    color: #9792E4;
    padding: 30px 0;
}

.col-1 p {
    line-height: 40px;
    padding-right: 60px;
}

.col-1 p:first-of-type {
    padding-bottom: 40px;
}

.section_5 .col-2 {
    width: 25%;
}

.box_image {
    position: relative;
}

.col-2 img {
    border-radius: 120px;
}

i.absolute {
    position: absolute;
    top: 0;
    right: 0;
    color: #9792E4;
    font-size: 60px;
}

.col-2 p {
    color: #9792E4;
    font-size: 17px;
    font-weight: 700;
    padding: 20px 0;
}

.bottone_about_us {
    background-color: #9792E4;
    color: white;
    padding: 5px 10px;
    width: 190px;
    text-align: center;
    font-size: 14px;
}

.bottone_about_us i {
    padding-right: 8px;
}

@media (max-width: 600px) {
    .row {
        flex-direction: column;
    }

    .section_5 .col-1,.section_5 .col-2 {
        width: 100%;
    }

    .section_5 .box_image {
        width: 50%;
    }
}

/* SECTION 6 */

.section_6 {
    background-color: #9792E4;
}

.section_6 .row {
    gap: 30px;
    align-items: center;
    color: white;
}

.section_6 span {
    font-size: 12px;
    padding: 30px 0;
}

.section_6 p {
    align-self: center;
    color: white;
}

.section_6 h4{
    font-size: 30px;
}

.section_6 h4:last-of-type {
    font-size: 50px;
    color: #FDC15F;
}

.section_6 p {
    text-align: center;
    width: 80%;
    font-size: 14px;
}

.bottone_bianco {
    background-color: white;
    color: #9792E4;
    padding: 13px 44px;
    font-size: 12px;
}